build_image:
  image: docker:git
  services:
  - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_BUILD_TOKEN $CI_REGISTRY
    - docker build -t $CI_REGISTRY/zumbrunnen/yealink-phone-book:latest .
    - docker push $CI_REGISTRY/zumbrunnen/yealink-phone-book:latest
  only:
    - master
