<h1><%= t('edit_title', resource: PhoneBookEntry.model_name.human) %></h1>

<%= render 'form', phone_book_entry: @phone_book_entry %>

<%= link_to material_icon('arrow_back', t('back')), :back, class: 'btn btn-secondary' %>
